@model Budgomatic.Web.Models.Account.IndexModel

@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<div>
    Create New + @Html.ActionLink("Account", "Create")
</div>

<br />

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Accounts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
